<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="user" name="user1" class="com.keeper.vo.User">
		<property name="userName" value="Hello world" />
	</bean>
	<bean id="user2" name="user4" class="com.keeper.vo.User">
		<property name="userName" value="Hello world1" />
	</bean>
	<bean id="userDao" class="com.keeper.impl.UserDaoImpl" />
	<bean class="com.keeper.impl.User2DaoImpl" />
	<bean id="userGroup" class="com.keeper.vo.UserGroup">
		<property name="userList">
			<list value-type="com.keeper.vo.User">
				<ref bean="user" />
				<ref bean="user1" />
			</list>
		</property>
		<property name="users">
			<array>
				<ref bean="user" />
				<ref bean="user1" />
			</array>
		</property>
		<property name="map">
			<map>
				<entry key="1" value-ref="user"/>
			</map>
		</property>
	</bean>
</beans>